@font-face {
    font-family: 'tt_norms-bold';
    src: url("TTNorms-Bold.otf") format("opentype"),
    url('ttnorms-bold-webfont.woff2') format('woff2'),
    url('ttnorms-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'tt_norms-medium';
    src: url("TTNorms-Medium.otf") format("opentype"),
        url('ttnorms-medium-webfont.woff2') format('woff2'),
        url('ttnorms-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'tt_norms';
    src: url("TTNorms-Regular.otf") format("opentype"),
        url('ttnorms-regular-webfont.woff2') format('woff2'),
        url('ttnorms-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}