<template lang="pug">
  .zg-pay
    view-header(title="Оплатите один из пакетов")
    pay-options.flex-fill
</template>

<script>
import ViewHeader from '@/components/ViewHeader'
import PayOptions from '@/components/PayOptions'

export default {
  name: 'Pay',
  components: {
    ViewHeader,
    PayOptions
  },
  computed: {
    sessionsPaidCount() {
      return this.$store.state.session.sessionsPaidCount
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (vm.sessionsPaidCount > 0) {
        vm.$router.push({
          name: 'paidLeft',
          params: {
            headerTitle: 'Оплатите один из пакетов',
            message: 'Оплаченных занятий осталось: ' + vm.sessionsPaidCount,
            showImage: true
          }
        })
      }
    })
  }
}
</script>

