<template lang="pug">
  .zg-schedule
    view-header(:title="title")
    calendar(@session-date-select="setHeaderTitle" ref="scheduleCalendar").flex-fill
</template>

<script>
import Calendar from '@/components/Calendar'
import ViewHeader from '@/components/ViewHeader'

export default {
  name: 'Schedule',
  components: {
    Calendar,
    ViewHeader
  },
  data: () => ({
    title: ''
  }),
  methods: {
    getTitle() {
      return this.$refs.scheduleCalendar.getTitle()
    },
    setHeaderTitle() {
      this.title = this.getTitle()
    }
  },
  mounted() {
    this.setHeaderTitle()
  }
}
</script>

