<template lang="pug">
  .zg-start-session.pb-2
    view-header(title="Начните занятие в назначенное время")
    start-session-instruction.flex-fill.py-2
</template>

<script>
import ViewHeader from '@/components/ViewHeader'
import StartSessionInstruction from '@/components/StartSessionInstruction'
export default {
  name: 'StartSession',
  components: {
    ViewHeader,
    StartSessionInstruction
  }
}
</script>

<style lang="scss">

</style>
