<template lang="pug">
  .zg-success
    view-header(:title="params.headerTitle")
    success-message(:message="params.message" :show-image="params.showImage").flex-fill
</template>

<script>
import ViewHeader from '@/components/ViewHeader'
import SuccessMessage from '@/components/SuccessMessage'

export default {
  name: 'Success',
  components: {
    ViewHeader,
    SuccessMessage
  },
  computed: {
    params() {
      return this.$route.params
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (!to.params && !to.params.message || !to.params.headerTitle) {
        vm.$router.push('/home')
      }
    })
  }
}
</script>

