<template lang="pug">
  footer.zg-footer.container
    b-row.d-lg-none
      b-col(cols="12")
        socials
    b-row
      b-col(cols="12").zg-footer__line.mt-3.mt-lg-0
      b-col(cols="auto").ml-auto.py-4
        .zg-footer__copyright © Zigmund.online, {{ new Date().getFullYear() }}
</template>

<script>
import Socials from './Socials'
export default {
  name: 'AppFooter',
  components: {
    Socials
  }
}
</script>

<style lang="scss">
  .zg-footer {
    &__copyright {
      font-size: 0.875rem;
      color: $text-muted;
    }
    &__line {
      @include h-line(false) {
        top: 0;
      };
    }
  }
</style>
