<template lang="pug">
  header.zg-header.d-flex.justify-content-center.justify-content-lg-between.align-items-center
    logo
    socials.d-lg-flex.d-none
</template>

<script>
import Logo from './Logo'
import Socials from './Socials'

export default {
  name: 'AppHeader',
  components: {
    Logo,
    Socials
  }
}
</script>

<style lang="scss">
  .zg-header {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    background-color: #fff;
  }
</style>

