<template lang="pug">
  main.zg-main.container.mb-4.mb-lg-5
    b-row
      b-col(lg="3")
        navigation
      b-col(cols="12" lg="8" offset-lg="1").zg-router-view-wrapper
        router-view.zg-router-view.d-flex.flex-column
</template>

<script>
import Navigation from './Navigation'

export default {
  name: 'AppMain',
  components: {
    Navigation
  }
}
</script>

<style lang="scss">
  .zg-router-view {
    &-wrapper {
      @include media(md) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    width: 100%;
    height: 100%;
    min-height: 500px;
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 53, 134, 0.2);
    border-radius: 5px;
    padding: 2.5rem;

    @include media(md) {
      min-height: auto;
      box-shadow: none;
      border-radius: 0;
      padding: 1.75rem;
    }
  }
</style>

