<template lang="pug">
  .zg-avatar-cropper
    header.text-center.mb-4
      h5 Выбранная область будет показана в вашем профиле
    section.mb-4
      cropper.zg-avatar-cropper__edit-area(
        v-if="img"
        ref="copperCmp"
        :stencilComponent="$options.components.CircleStencil"
        :src="img"
      )
      .loader(v-else)
        load-spinner
</template>

<script>
import { Cropper, CircleStencil } from 'vue-advanced-cropper'
import LoadSpinner from './LoadSpinner'

export default {
  name: 'AvatarCropper',
  data: () => ({
    croppedImage: ''
  }),
  props: {
    img: String,
  },
  components: {
    Cropper,
    CircleStencil,
    LoadSpinner
  },
  methods: {
    getCroppedImage() {
      const {coordinates, canvas} = this.$refs.copperCmp.getResult()

      return canvas.toDataURL()
    }
  }
}
</script>

<style lang="scss">
  .zg-avatar-cropper {
    &__edit-area {
      min-height: 320px;
      width: 100%;
    }
  }
</style>

