<template lang="pug">
  .zg-calendar.d-flex.flex-column
    section.zg-calendar__main.my-auto
      b-row
        b-col(lg="6").mb-3.mb-lg-0
          date-picker(:selected-date="selectedDate" @select-date="onDateSelect")
        b-col(lg="5" offset-lg="1")
          time-picker(@select-time="onTimeSelect")
    footer.zg-calendar__footer
      b-row
        b-col(cols="12" lg="5").ml-auto
          b-button(
            variant="success"
            size="lg"
            :disabled="!selectedDate || !selectedTime"
            @click="onConfirmBtnClick"
          ) Подтвердить
    
</template>

<script>
import DatePicker from './DatePicker'
import TimePicker from './TimePicker'

export default {
  name: 'Calendar',
  components: {
    DatePicker,
    TimePicker
  },
  data: () => ({
    selectedDate: null,
    selectedTime: null
  }),
  computed: {
    isSessionDateSelected() {
      return !!(this.selectedDate && this.selectedTime)
    }
  },
  methods: {
    onConfirmBtnClick() {
      if (this.isSessionDateSelected) {
        this.$router.push({
          name: 'success',
          params: {
            message: 'Ваше занятие успешно перенесено на новые дату и время.',
            headerTitle: this.getTitle()
          }
        })
      }
    },
    onDateSelect(date) {
      this.selectedDate = date;
      this.checkSessionDateSelected()
    },
    onTimeSelect(time) {
      this.selectedTime = time
      this.checkSessionDateSelected()
    },
    checkSessionDateSelected() {
      if (this.isSessionDateSelected) {
        this.$emit('session-date-select')
      }
    },
    getTitle() {
      const vm = this
      let title = 'Выберите дату занятия'

      if (vm.isSessionDateSelected) {
        let date =  vm.selectedDate.toLocaleDateString([], {
          day: '2-digit',
          month: 'long',
          year: 'numeric'
        })
        
        let time = vm.selectedTime.toLocaleTimeString([], {
          hour: '2-digit',
          minute: '2-digit'
        })

        title += ' - ' + date + ' в ' + time
      }

      return title
    }
  }
}
</script>
