<template lang="pug">
  .zg-date-picker
    header.zg-date-picker__header.text-center
      h5.zg-date-picker__title Дата
    section.zg-date-picker__main
      .zg-date-picker__months.d-flex.justify-content-center.align-items-center.p-2.p-lg-3
        h5.zg-date-picker__months-name.mb-0(
          :class="{ 'active': isNowMonthActive }"
          @click="selectMonth(nowMonth)"
        ) {{ nowMonthName }}
        .zg-date-picker__months-splitter.mx-4(
          :class="{ 'rotate': !isNowMonthActive }"
          @click="selectMonth(isNowMonthActive ? nowMonth + 1 : nowMonth)"
        )
          .zg-icon.arrow-right-primary
        h5.zg-date-picker__months-name.mb-0(
          :class="{ 'active': !isNowMonthActive }"
          @click="selectMonth(nowMonth + 1)"
        ) {{ nextMonthName }}
      .zg-date-picker__dates.px-lg-1.px-xl-0.pb-2.pb-lg-0(ref="dayPickerList")
        .zg-date-picker__date.mx-1.mx-lg-0(
          v-for="(date, index) in activeCalendar"
          :class="dateCls(date)"
          @click="selectDate(date)"
          :key="index"
          )
          .zg-date-picker__date-number.mr-1.mr-lg-0 {{ date.getDate() }}
          .zg-date-picker__date-weekday.d-lg-none {{ getWeekdayName(date) }}

</template>

<script>
import capitalize from 'lodash/capitalize'
import first from 'lodash/first'
import last from 'lodash/last'
import nth from 'lodash/nth'

export default {
  name: 'DatePicker',
  props: {
    selectedDate: Date
  },
  data: () => ({
    activeMonth: null,
    currentDate: new Date(),
    isMobileResolution: null
  }),
  computed: {
    activeCalendar() {
      const vm = this
      let calendar = []
      let i
      let j

      if (!vm.isMobileResolution) {
        for (i = 1; i < first(vm.activeMonthDays).getDay(); i++) {
          calendar.push(nth(vm.prevMonthDays, vm.prevMonthDays.length - i))
        }
      }
      
      calendar = calendar.concat(vm.activeMonthDays)

      if (!vm.isMobileResolution) {
        for (i = last(vm.activeMonthDays).getDay(), j = 0; i < 7; i++, j++) {
          calendar.push(nth(vm.nextMonthDays, j))
        }
      }

      return calendar
    },
    monthsNames() {
      let result = []
      let monthName

      for (let i = 0; i < 12; i++) {
        monthName = this.getDateLocaleString({
          month: i,
          options: {
            month: 'long'
          }
        })

        result.push(capitalize(monthName))
      }

      return result;
    },
    weekdayNames() {
      let result = []
      let weekdayName

      for (let i = 0; i < 7; i++) {
        weekdayName = this.getDateLocaleString({
          day: i,
          options: {
            weekday: 'short'
          }
        })

        result.push(capitalize(weekdayName))
      }

      return result;
    },
    nowMonth() {
      return this.currentDate.getMonth()
    },
    prevMonthDays() {
      return this.getDaysInMonth(this.activeMonth - 1)
    },
    activeMonthDays() {
      return this.getDaysInMonth(this.activeMonth)
    },
    nextMonthDays() {
      return this.getDaysInMonth(this.activeMonth + 1)
    },
    nowMonthName() {
      return this.monthsNames[this.nowMonth]
    },
    nextMonthName() {
      return this.monthsNames[this.nowMonth + 1]
    },
    isNowMonthActive() {
      return this.nowMonth === this.activeMonth
    }
  },
  methods: {
    getDateLocaleString({ day = this.currentDate.getDate(), month = this.currentDate.getMonth(), options }) {
      const year = this.currentDate.getFullYear()

      return new Date(year, month, day).toLocaleString('ru-Ru', options)
    },
    selectDate(date) {
      this.$emit('select-date', date)
    },
    selectMonth(month) {
      this.activeMonth = month

      this.$nextTick(this.scrollToAvailableDate)
    },
    scrollToAvailableDate() {
      if (this.isMobileResolution) {
        const firstAvailableDate = this.$refs.dayPickerList.querySelector('.zg-date-picker__date:not(.disabled')

        firstAvailableDate.scrollIntoView({
          inline: 'start',
          block: 'nearest'
        })
      }
    },
    getDaysInMonth(month) {
      const year = new Date().getFullYear()
      const count = new Date(year, month + 1, 0).getDate()
      let date
      let result = []

      for (let i = 1; i <= count; i++) {
        result.push(new Date(year, month, i))
      }

      return result
    },
    isSelectedDate(date) {
      return this.selectedDate === date;
    },
    isDisabledDate(date) {
      const vm = this

      return date && (date < vm.currentDate || date.getMonth() !== vm.activeMonth)
    },
    dateCls(date) {
      const vm = this
      const isDisabled = vm.isDisabledDate(date)

      return {
        'active': vm.selectedDate ? vm.selectedDate.getTime() === date.getTime() && !isDisabled: false, 
        'disabled': vm.isDisabledDate(date)
      }
    },
    setIsMobileResolution() {
      this.isMobileResolution = window.innerWidth <= 992
    },
    getWeekdayName(date) {
      return this.weekdayNames[date.getDay()]
    }
  },
  mounted() {
    const vm = this

    vm.activeMonth = vm.nowMonth

    vm.$nextTick(function() {
      window.addEventListener('resize', vm.setIsMobileResolution);

      vm.setIsMobileResolution()

      vm.isMobileResolution && vm.scrollToAvailableDate()
    })
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.setIsMobileResolution);
  }
}
</script>

<style lang="scss">
  .zg-date-picker {
    user-select: none;
    &__main {
      border: 1px solid $primary;
      border-radius: 5px;
      min-height: 240px;

      @include media(md) {
        min-height: auto;
        border: none;
      }
    }

    &__months-splitter {
      cursor: pointer;
      flex-shrink: 0;
      width: 26px;
      height: 15px;
      transform: scaleX(1);
      transition: 0.2s;
      &.rotate {
        transform: scaleX(-1);
        transform-origin: center;
      }
    }

    &__months-name {
      cursor: pointer;
      color: $text-muted;
      transition: 0.2s;
      &:hover,
      &.active {
        color: $primary;
      }
    }

    &__dates {
      display: grid;
      grid-template-columns: repeat(7, 32px);
      justify-content: space-evenly;
      grid-template-rows: auto;
      grid-gap: 0.25rem;

      @include media(md) {
        display: flex;
        overflow-x: scroll;
        justify-content: flex-start;
      }
    }

    &__date {
      @extend %cell;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border-color: transparent;
      border-width: 2px;
      &.disabled {
        border-color: transparent;
        @include media(md) {
          border-color: $text-muted;
        }
      }
      @include media(md) {
        width: 60px;
        height: 60px;
        border-radius: 5px;
        border-color: $primary;
        border-width: 1px;
        &::after {
          display: none;
        }
      }

      &-number {
        z-index: 10;
      }
    }
    
  }
</style>
