<template lang="pug">
  .text-lg-center
    b-button.text-muted.zg-edit-profile-btn.p-0(
      variant="link"
      @click="onEditProfileBtnClick")
      span Редактировать профиль
    modal(ref="editProfileModal" @done-btn-click="saveProfile()")
      profile-editor
</template>

<script>
import ProfileEditor from './ProfileEditor'
import Modal from './Modal'

export default {
  name: 'EditProfileButton',
  components: {
    ProfileEditor,
    Modal
  },
  methods: {
    onEditProfileBtnClick(e) {
      e.target && e.target.blur && e.target.blur()
      this.$refs.editProfileModal.show()
    },
     saveProfile() {
      console.log('save')
      return true
    }
  }
}
</script>

<style lang="scss">
  .zg-edit-profile-btn {
    @include media(md) {
      font-size: 0.75rem;
    }
  }
</style>
