<template lang="pug">
  b-container.zg-info-bar
    b-row
      b-col(cols="4" lg="3")
        user-avatar
        edit-profile-button.d-none.d-lg-block
      b-col(cols="8" lg="5" offset-lg="1").py-lg-3
        user-greeting
        session-status-bar.d-none.d-lg-block
        edit-profile-button.d-lg-none
      b-col(cols="12").d-lg-none.mb-4.mt-4
        session-status-bar
      b-col(cols="auto" lg="3").py-lg-3
        psychologist
</template>

<script>
import UserAvatar from './UserAvatar'
import SessionStatusBar from './SessionStatusBar'
import Psychologist from './Psychologist'
import UserGreeting from './UserGreeting'
import EditProfileButton from './EditProfileButton'

export default {
  name: 'InfoBar',
  components: {
    UserAvatar,
    UserGreeting,
    SessionStatusBar,
    EditProfileButton,
    Psychologist
  }
}
</script>

<style lang="scss">
  .zg-info-bar {

  }
</style>

