<template lang="pug">
  .zg-load-spinner
    .load-spinner
      .load-spinner__item
      .load-spinner__item
      .load-spinner__item
      .load-spinner__item
</template>

<script>
export default {
  name: 'LoadSpinner'
}
</script>

<style lang="scss">
  .zg-load-spinner {
    height: 200px;
    width: 100%;
  }
  .load-spinner {
    display: inline-block;
    width: 64px;
    height: 64px;
    @extend %absolute-center;
    &__item {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 51px;
      height: 51px;
      margin: 6px;
      border: 6px solid $primary;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: $primary transparent transparent transparent;

      &:nth-child(1) {
        animation-delay: -0.45s;
      }

      &:nth-child(2) {
        animation-delay: -0.3s;
      }

      &:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

</style>

