<template lang="pug">
  .zg-logo
    img.zg-logo__image(src="../assets/images/logo.svg" alt="Zigmind.online")
</template>

<script>
export default {
  name: 'Logo'
}
</script>

<style lang="scss">
  .zg-logo {
    width: 213px;
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

</style>

