<template lang="pug">
   b-modal(
      hide-header-close
      no-close-on-backdrop
      no-close-on-esc
      hide-footer
      hide-header
      ref="modal"
      content-class="py-lg-4 px-lg-5"
    )
      slot
      footer.d-flex.justify-content-end
        b-button(variant="primary" @click="hide()" size="lg" :disabled="doneBtnDiabled") Готово
</template>

<script>
export default {
  name: 'Modal',
  props: {
    doneBtnDiabled: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    show() {
      this.$refs.modal.show()
    },
    hide() {
      this.$refs.modal.hide()
      this.$emit('done-btn-click')
    }
  }
}
</script>
