<template lang="pug">
   router-link.zg-navigation-item.d-flex.flex-column.align-items-center.mb-lg-4(:to="link" tag="div")
      .zg-navigation-item__icon.mb-lg-2
        .zg-icon(:class="icon")
        .zg-navigation-item__badge(v-if="showBadge")
          .zg-icon(:class="badgeIcon")
      .zg-navigation-item__title.d-none.d-lg-block {{ title }}
</template>

<script>
export default {
  name: 'NavItem',
  props: {
    title: String,
    link: String,
    icon: String,
    showBadge: {
      type: Boolean,
      default: false
    },
    badgeIcon: String
  }
}
</script>

<style lang="scss">
   .zg-navigation-item {
    cursor: pointer;
    &:hover {
      .zg-navigation-item__icon > .zg-icon{
        filter: grayscale(0);
      }
    }
    &__icon {
      position: relative;
      width: 60px;
      height: 55px;
      transition: 0.2s;
      & >  .zg-icon {
        filter: grayscale(1);
      }
    }
    &__title {
      font-size: 1.125rem;
    }

    &.router-link-active {
      .zg-navigation-item__icon > .zg-icon {
        filter: grayscale(0);
      }
    }

    &__badge {
     @extend %budge;
     top: -5px;right: -5px;
    }

    @include media(md) {
      &__icon {
        width: 30px;
        height: 30px;
      }
    }
  }
</style>

