<template lang="pug">
  nav.zg-navigation.p-3.px-lg-0.py-lg-1
    ul.zg-navigation__list.list-unstyled.d-flex.flex-lg-column.justify-content-around.mb-0
      li
        nav-item(
          title="Начать занятие",
          icon="video-chat",
          link="/start-session")
      li
        nav-item(
          title="Назначить занятие",
          icon="calendar",
          link="/schedule/new-session-date")
      li
        nav-item(
          title="Оплатить занятие",
          icon="credit-card",
          link="/pay"
          :show-badge="hasPaidSessions"
          badge-icon="ok")
      li
        nav-item(
          title="Отменить занятие",
          icon="cancel",
          link="/cancel")
</template>

<script>
import NavItem from './NavItem'

export default {
  name: 'Navigation',
  components: {
    NavItem
  },
  data: () => ({
    
  }),
  computed: {
    hasPaidSessions() {
      return this.$store.state.session.sessionsPaidCount > 0
    }
  }
}
</script>

<style lang="scss">
  .zg-navigation {
    width: 100%;
    @include media(md) {
      position: fixed;
      bottom: 0; left: 0;
      background-color: $bg-color;
      z-index: 100;
      border-top: 1px solid $line-color;
    }
  }

  .zg-pay-badge {
    position: relative;
  }

</style>

