<template lang="pug">
  .zg-pay-options.mt-3.d-flex.flex-column
    h5.zg-pay-options__title.fw-bold(v-if="choiceDiscountTypeState")
      | Вы не можете одновременно использовать баллы и промо-код. Пожалуйста, выберите что-то одно:
    .zg-pay-options__list
      b-row(
        v-if="choiceDiscountTypeState"  
        deck
      )
        b-col(lg="4")
          h6 Использовать код
          pay-option-item(
            :option="selectedOption"
            :selected="selectedDiscountType === 'promocode'"
            :discount="promocodeDiscount"
            @click="selectDiscoutType('promocode')"
          )
        b-col(lg="4")
          h6 Использовать баллы
          pay-option-item(
            :option="selectedOption"
            :selected="selectedDiscountType === 'userPromoPoints'"
            :discount="userPromoPoints"
            @click="selectDiscoutType('userPromoPoints')"
          )
      b-row(v-else)
        b-col(
          v-for="(option, index) in activeOptions"
          lg="4")
          pay-option-item(
            :option="option"
            :selected="selectedOption ? selectedOption.id === option.id : false"
            :discount="discount"
            @click="selectOption(option)"
            :key="index")
    .zg-pay-promo.mt-auto(v-if="userHasPromo && !choiceDiscountTypeState")
      .zg-pay-promo__points-count.mb-2
        h5.mb-0 
          span Баланс баллов:  
          span.fw-bolder.text-primary {{ userPromoPoints }}
      .zg-pay-promo__applyed-points(v-if="selectedOption")
        | Будет списано {{ discount }} баллов. Остаток составит {{ userPromoPoints - discount }} баллов.
    b-row.mt-auto
      b-col(lg="6")
        b-button.mw-100.w-100.text-dark(
          v-if="choiceDiscountTypeState"
          @click="choiceDiscountTypeState = false"
          variant="link"
          size="lg") Вернуться на шаг назад
        b-form-input(
          v-else="choiceDiscountTypeState"
          v-model="promocode"
          type="text" 
          placeholder="Промокод").h-100
      b-col(lg="6")
        b-button.mw-100.w-100(
          :disabled="!selectedOption"
          @click="onPayBtnClick"
          variant="success" 
          size="lg") Оплатить
</template>

<script>
import PayOptionItem from './PayOptionItem'

export default {
  name: 'PayOptions',
  components: {
    PayOptionItem
  },
  data: () => ({
    choiceDiscountTypeState: false,
    selectedDiscountType: null,
    selectedOption: null,
    promocode: '123456',
    options: [{
      id: 1,
      name: '1 занятие',
      price: 2490,
      total: null
    }, {
      id: 2,
      name: '5 занятий',
      price: 2390,
      total: 11950
    }, {
      id: 3,
      name: '10 занятий',
      price: 2290,
      total: 22900
    }]
  }),
  computed: {
    activeOptions() {
      if (this.choiceDiscountTypeState) {

      } else {
        return this.options
      }
    },
    userHasPromo() {
      return this.$store.state.userInfo.hasPromo
    },
    userPromoPoints() {
      return this.$store.state.userInfo.promoPoints
    },
    isValidPromoCode() {
      return this.promocode === '123456'
    },
    bothTypeDiscountTypeAvailable() {
      return this.promocodeDiscount && this.userPromoDiscount
    },
    promocodeDiscount() {
      return 499
    },
    userPromoDiscount() {
      return this.userHasPromo && this.userPromoPoints ? Math.round(this.userPromoPoints / 2) : null
    },
    discount() {
      return this.userPromoPoints || this.promocodeDiscount
    }
  },
  methods: {
    selectOption(option) {
      this.selectedOption = option
    },
    selectDiscoutType(type) {
      this.selectedDiscountType = type
    },
    onPayBtnClick() {
      if (this.bothTypeDiscountTypeAvailable && !this.choiceDiscountTypeState) {
        this.choiceDiscountTypeState = true
        return
      }

      console.log(this.selectedOption)
    }
  }
}
</script>

