<template lang="pug">
  b-card.zg-pay-option-item(
    @click="$emit('click')"
    :class="{ 'selected' : selected }"
    body-class="d-flex flex-column position-relative justify-content-between"
  )
    .zg-pay-option-item__title.text-muted {{ option.name }}
    transition(name="fade")
      h5.text-muted.mb-0(v-if="discount")
        span.zg-pay-option-item__old-price.position-relative {{ option.price.toLocaleString() }} ,-
    h4.zg-pay-option-item__price.fw-bolder.mb-0.mt-auto {{ currentPrice.toLocaleString() }} ,-
    .zg-pay-option-item__total {{ total }}
    .zg-pay-option-item__badge
      .zg-icon.ok
</template>

<script>
export default {
  name: 'PayOptionItem',
  props: {
    option: Object,
    selected: Boolean,
    discount: Number
  },
  computed: {
    currentPrice() {
      let price = this.option.price

      if (this.discount && this.discount > 0) {
        price -= this.discount
      }

      return price
    },
    total() {
      const total = this.option.total
      const discount = this.discount || 0

      return total ? 'Всего ' + (total - discount).toLocaleString() + ' р.': 'Без скидок'
    }
  }
}
</script>

<style lang="scss">
  .zg-pay-option-item {
    cursor: pointer;
    border-width: 2px;
    height: 150px;
    border-color: $line-color;
    transition: 0.2s;
    &:hover {
      border-color: $primary;
    }

    &.selected {
      border-color: $primary;
      .zg-pay-option-item__badge {
        opacity: 1;
      }
    }

    &__total {
      white-space: nowrap;
    }

    &__badge {
      @extend %budge;
      top: 10px;right: 10px;
      opacity: 0;
      transition: 0.2s;
    }

    &__old-price {
      &:after {
        content: '';
        position: absolute;
        width: calc(100% + 4px);
        height: 1px;
        background-color: $text-muted;
        top: 0; bottom: 0; left: -2px;
        margin: auto;
        transform: rotate(-10deg);
      }
    }
  }
</style>
