<template lang="pug">
  .zg-profile-editor
    header.text-center.mb-4
      h2 Профиль
    section.mb-4
      b-form.zg-profile-editor-form
        b-form-group
          b-form-input(
            v-model="username"
            type="text" 
            placeholder="Имя пользователя")
        b-form-group
          b-form-input(
            v-model="email"
            type="email" 
            placeholder="Email пользователя")
        b-form-group
          b-form-input#userPhoneField(
            v-model="phone"
            placeholder="Номер телефона пользователя")
        b-form-group.zg-profile-editor-socials
          span.zg-profile-editor-socials__title Привяжите свой профиль
          .zg-profile-editor-socials__list.d-flex
            b-button.zg-profile-editor-social.p-3.border-0.text-center(
              variant="outline-light"
              v-for="social in notBindedSocials"
              href="#"
              :key="social.name"
              @click="bindAccount(social.name)")
              font-awesome-icon(:icon="['fab', social.name]" :class="social.name" size="2x").zg-profile-editor-social__icon
</template>

<script>
import Inputmask from 'inputmask';
import { mapState, mapActions } from 'vuex';
import camelCase from 'lodash/camelCase'

export default {
  name: 'ProfileEditor',
  data: () => ({
    
  }),
  methods: {
    bindAccount(social) {
      console.log(social)
    }
  },
  computed: {
    ...(() => {
      const res = {}
      const names = ['username', 'email', 'phone', 'socials']

      names.forEach(item => {
        res[item] = {
          get() {
            return this.$store.state.userInfo[item];
          },
          set(value) {
            this.$store.dispatch(camelCase(`set ${item}`), value)
          }
        }
      })

      return res
    })(),
    bindedSocials () {
      return this.socials.filter(social => social.id)
    },
    notBindedSocials () {
      return this.socials.filter(social => !social.id)
    }
  },
  mounted() {
    const field = document.getElementById('userPhoneField')
    const im = new Inputmask('+7 999 999 99 99')

    im.mask(field)
  }
}
</script>

<style lang="scss">
  $socials: vk, facebook, google;
  .zg-profile-editor-social {
    cursor: pointer;
    &__icon {
      @each $social in $socials {
        &.#{$social} {
          @include iconColor($social);
        }
      }
    }
  }
</style>
