<template lang="pug">
  .zg-psychologist-skype
    .fw-bold Skype психолога:
    .d-flex.align-items-center
      .zg-psychologist-skype__id.mr-2(ref="psychologistSkypeId") {{ skypeId }}
      b-button.zg-psychologist-skype__copy-btn.p-0(
        variant="link"
        v-b-tooltip.right.focus.v-light
        tabindex="0"
        title="Скопировано"
        @click="copyText")
        .zg-icon.copy-muted
</template>

<script>
import {copyTextToClipboard} from '@/utils/clipboard'

export default {
  name: 'PsychologistSkype',
  computed: {
    skypeId() {
      return this.$store.state.psychologist.psychologistSkypeId
    }
  },
  methods: {
    copyText() {
      copyTextToClipboard(this.skypeId)
    }
  }
}
</script>

<style lang="scss">
  .zg-psychologist-skype {
    &__copy-btn {
      cursor: pointer;
      width: 15px;
      height: 15px;
      flex-shrink: 0;
    }
  }
</style>
