<template lang="pug">
  .zg-psychologist
    .d-flex.align-items-center.justify-content-lg-end
      h5.zg-psychologist__title.mr-2.mb-0.text-muted Ваш психолог:
      .zg-psychologist__avatar
        img(v-if="psychologistAvatar" :src="psychologistAvatar")
        font-awesome-icon.zg-psychologist__default-icon(
          v-else
          icon="user"
          size="2x")
      rounded-button.zg-psychologist__info-btn(
        size="20"
        icon="more"
        iconSize="xs")
</template>

<script>
import { mapState } from 'vuex'
import RoundedButton from './RoundedButton'

export default {
  name: 'Psychologist',
  components: {
    RoundedButton
  },
  computed: {
    ...mapState({
      psychologistName: state => state.psychologist.psychologistName,
      psychologistAvatar: state => state.psychologist.psychologistAvatar,
      psychologistLink: state => state.psychologist.psychologistLink
    })
  }
}
</script>

<style lang="scss">
  .zg-psychologist {
    position: relative;
    &__avatar {
      position: relative;
      flex-shrink: 0;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: $line-color;
      overflow: hidden;
    }

    &__default-icon {
      @extend %absolute-center;
      color: $bg-color;
    }

    &__info-btn {
      position: absolute;
      bottom: 0;right: 0;
      flex-shrink: 0;
    }
  }
</style>
