<template lang="pug">
   b-button.p-0.zg-rounded-button(
    :style="{width: size + 'px', height: size + 'px'}"
    :variant="variant"
    :disabled="disabled"
    @click.prevent="$emit('click')")
    .zg-rounded-button__icon
      .zg-icon(:class="icon")
</template>

<script>
export default {
  name: 'RoundedButton',
  props: {
    size: {
      type: String,
      default: 30
    },
    variant: {
      type: String,
      default: 'primary'
    },
    disabled: {
      type: Boolean,
      default: false
    },
    iconSize: {
      type: String,
      default: 'sm'
    },
    icon: String
  }
}
</script>

<style lang="scss">
  .zg-rounded-button {
    position: relative;
    border-radius: 50%;

    &__icon {
      width: 60%;
      height: 60%;
      min-width: 1rem;
      min-height: 1rem;
      @extend %absolute-center;
    }
  }
</style>

