<template lang="pug">
  .zg-session-status-bar
    .zg-session-status-bar__next-session-title.mb-2.mb-lg-3(
      :class="{ 'text-danger': hasNextSession && sessionsPaidCount == 0}")
      | {{ nextSessionTitle }}:
    .zg-next-session-status.zg-session-status-bar__next-session-status.d-flex.align-items-center.flex-wrap
      .zg-next-session-status__date.text-primary.fw-bold {{ date }} 
      .mx-2 в
      .zg-next-session-status__time.text-primary.fw-bold.mr-1 {{ time }}
      .zg-next-session-status__add-btns.d-flex
        b-button.zg-next-session-status__add-btn.text-success.fw-bold.px-2.py-0(
          variant="link"
          v-if="hasNextSession && sessionsPaidCount == 0")
          span оплатить
        b-button.zg-next-session-status__add-btn.text-success.fw-bold.px-2.py-0(
          variant="link"
          v-if="!hasNextSession && !sessionConfirmedStatus")
          span подтвердить
        b-button.zg-next-session-status__add-btn.text-muted.px-2.py-0(
          variant="link"
          v-if="!hasNextSession && !sessionConfirmedStatus")
          span перенести
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'SessionStatusBar',
  computed: {
    ...mapState({
      nextSessionDate: state => state.session.nextSessionDate,
      sessionConfirmedStatus: state => state.session.sessionConfirmedStatus,
      sessionsPaidCount: state => state.session.sessionsPaidCount,
      hasNextSession: state => state.session.hasNextSession,
      skypeId: state => state.psychologist.psychologistSkypeId
    }),
    date() {
      return this.nextSessionDate.toLocaleDateString()
    },
    time() {
      return this.nextSessionDate.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}).replace(':', '-')
    },
    nextSessionTitle() {
      let title = '';

      if (this.hasNextSession) {
        title = this.sessionsPaidCount > 0 ? 'Следующее занятие' : 'Занятие не оплачено'
      } else {
        title = 'Запишитесь на следующее занятие'
      }

      return title
    }
  }
}
</script>

<style lang="scss">
  .zg-session-status-bar {
    user-select: none;
    font-size: 1.25em;
    @include media(md) {
      font-size: 1.125rem;
    }
    &__username {
      font-size: 1.875rem;
    }
    // &__next-session-date {
    //   
    // }
  }

  .zg-next-session-status {
    &__add-btn {
      span {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: -0.5rem;
          bottom: 0;
          margin: auto;
          width: 1px;
          height: calc(100% - 5px);
          background-color: $text-muted;
        }
      }

       &:last-child {
         span {
           &::after {
             display: none;
           }
         }
        }
    }
  }
</style>

