<template lang="pug">
  .zg-skype-attention.d-flex.align-items-center.justify-content-between.text-primary.p-2.py-lg-4.px-lg-3.border.border-primary.rounded
    .zg-skype-attention__icon.d-none.d-lg-block
      .zg-icon.danger-primary
    .zg-skype-attention__text.small.mx-2 Убедитесь, что на вашем устройстве установлено 
      a(href="https://www.skype.com/ru/get-skype/" target="_blank" @click="$emit('go-to-install')").zg-link.fw-bold приложение Skype
    .zg-skype-attention__btn
      b-button(variant="outline-primary" @click="$emit('ok-btn-click')").w-100 ОК
</template>

<script>
export default {
  name: 'SkypeAttention'
}
</script>

<style lang="scss">
  .zg-skype-attention {
    &__icon {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
    }

    &__btn {
      width: 90px;
    }
  }
</style>