<template lang="pug">
  .zg-socials.flex-column.flex-lg-row
    .zg-socials__title.mr-lg-3.mb-2.mb-lg-0.text-muted Задайте вопрос
    .zg-socilas__list.d-flex.flex-column.flex-lg-row
      a(:href="social.link" v-for="(social, index) in socials").zg-social.text-body.d-flex.align-items-center.px-lg-3.mb-2.mb-lg-0
        .zg-social__icon.mr-lg-2
          .zg-icon(:class="social.name.toLowerCase()")
        .zg-social__name {{ social.name }}
</template>

<script>
export default {
  name: 'Socials',
  data: () => ({
    socials: [{
      name: 'Telegram',
      icon: 'telegram-plane',
      link: '#'
    }, {
      name: 'Messenger',
      icon: 'facebook-messenger',
      link: '#'
    }, {
      name: 'Whatsapp',
      icon: 'whatsapp',
      link: '#'
    }, {
      name: 'Viber',
      icon: 'viber',
      link: '#'
    }]
  })
}
</script>

<style lang="scss">
  .zg-socials {
    display: flex;

    @include media(md) {
      width: 100%;
    }

    &__title {
      user-select: none;
    }
  }

  .zg-social {
    cursor: pointer;
    position: relative;
    @include media(md) {
      border: 1px solid $line-color;
      height: 50px;
      text-align: center;
      justify-content: center;
    }

    &:last-child {
      padding-right: 0!important;
    }

    &__icon {
      color: $text-muted;
      flex-basis: 1.25rem;
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      filter: grayscale(1);
      transition: 0.2s;
      @include media(md) {
        position: absolute;
        filter: grayscale(0);
        left: 1rem;
      }
    }

    &:hover {
      text-decoration: none;
      .zg-social__icon {
        filter: grayscale(0);
      }
    }
  }
</style>

