<template lang="pug">
  .zg-start-session-instruction.d-flex.flex-column
    b-row(v-if="showInstallSkypeAttention").mt-3
      b-col(cols="12")
        skype-attention(
          @go-to-install="setShowInstallSkypeAttentionConfig"
          @ok-btn-click="setShowInstallSkypeAttentionConfig"
        )
    b-row.my-auto
      b-col(lg="6" order="2" order-lg="1")
        .zg-start-session-instruction__pc-image.text-center
          img(src="@/assets/images/start-session-pc.png").d-none.d-lg-inline.img-fluid
          img(src="@/assets/images/start-session-phone.png").d-lg-none.img-fluid
      b-col(lg="6" order="1" order-lg="2").mb-3.mb-lg-4
        b-row
          b-col(cols="12").mb-3.mb-lg-3
            h5.fw-bold {{ title }}
        b-row.justify-content-center.justify-content-lg-start.align-items-center.flex-nowrap
          b-col(cols="4" sm="auto")
            #callSkypeBtnWrapper
              rounded-button.zg-start-session-instruction__call-btn(
                @click="onSkypeBtnClick"
                variant="success"
                :disabled="!sessionIsAvailable"
                size="60"
                icon="call")
              b-tooltip(
                target="callSkypeBtnWrapper"
                variant="light"
                :disabled="sessionIsAvailable"
                title="Вы сможете связаться с психологом за 5 минут до времени начала"
                placement="right"
              )
          b-col(cols="8" sm="auto").text-muted.small
            psychologist-skype(v-if="sessionsPaidCount > 0")
    b-row.d-none.d-lg-flex
      b-col(cols="12").text-center
        a(href="#").text-muted.small Связаться с технической поддержкой
</template>

<script>
import { mapState } from 'vuex'
import SkypeAttention from './SkypeAttention'
import RoundedButton from './RoundedButton'
import PsychologistSkype from './PsychologistSkype'
import { setInterval, clearInterval } from 'timers';

export default {
  name: 'StartSessionInstruction',
  components: {
    SkypeAttention,
    RoundedButton,
    PsychologistSkype
  },
  data: () => ({
    timeToStartLeft: null,
    intervalId: null,
    localeStorageSkypeAttentionKey: 'showinstallskypeattention',
    showInstallSkypeAttention: true
  }),
  computed: {
    ...mapState({
      nextSessionDate: state => state.session.nextSessionDate,
      sessionConfirmedStatus: state => state.session.sessionConfirmedStatus,
      sessionsPaidCount: state => state.session.sessionsPaidCount,
      hasNextSession: state => state.session.hasNextSession
    }),
    sessionIsAvailable() {
      return this.timeToStartLeft ? this.timeToStartLeft < 5 * 60000 : false
      //return true
    },
    title() {
      let title = 'Нажмитие кнопку вызова, чтобы начать занятие'
      return title
    },
    callBtnTooltipTriggers() {
      return this.sessionIsAvailable ? '' : 'hover'
    }
  },
  methods: {
    onSkypeBtnClick() {

    },
    updateTimeToStart() {
      this.timeToStartLeft = this.nextSessionDate.getTime() - new Date().getTime()
    },
    setShowInstallSkypeAttentionConfig(value = false) {
      localStorage.setItem(this.localeStorageSkypeAttentionKey, value)
      this.showInstallSkypeAttention = false;
    }
  },
  mounted() {
    this.intervalId = setInterval(this.updateTimeToStart, 60)

    this.showInstallSkypeAttention = localStorage.getItem(this.localeStorageSkypeAttentionKey) !== 'false'
  },
  beforeDestroy() {
    clearInterval(this.intervalId)
  }
}
</script>

<style lang="scss">

</style>
