<template lang="pug">
  .zg-success-message
    b-row.h-100.align-items-center
      b-col(lg="4")
        .zg-success-message__image(v-if="showImage")
          img(:src="image")
      b-col(lg="7" xl="7")
        h5.zg-success-message__message {{ message }}
</template>

<script>
import image from '@/assets/images/assistant.svg'

export default {
  name: 'SuccessMessage',
  props: {
    showImage: Boolean,
    image: {
      type: String,
      default: image
    },
    message: String
  }
}
</script>

<style lang="scss">
  .zg-success-message {
    &__image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
</style>

