<template lang="pug">
  .zg-time-picker__header
    header.zg-time-picker__header.text-center.pr-lg-4.d-none.d-lg-block
      h5.zg-time-picker__title Время
    section.zg-time-picker__main
      .zg-time-picker__times.d-flex.flex-lg-column.pb-2.pb-lg-0.pr-lg-4 
        .zg-time-picker__time.mx-1.mx-lg-0.mb-lg-2(
          v-for="(time, index) in times"
          :class="timeCls(time)"
          @click="selectTime(time)"
          :key="index"
        ) {{ time.toLocaleTimeString([], { hour: '2-digit', minute:'2-digit' }).replace('00:', '24:') }}
</template>

<script>
export default {
  name: 'TimePicker',
  data: () => ({
    selectedTime: null
  }),
  computed: {
    times() {
      let result = []

      for (let i = 7; i <= 24; i++) {
        result.push(new Date(1970, 1, 0, i, 0, 0, 0))
      }

      return result;
    }
  },
  methods: {
    selectTime(time) {
      this.selectedTime = time

      this.$emit('select-time', time)
    },
    timeCls(time) {
      var vm = this
      return {
        'active': vm.selectedTime ? vm.selectedTime.getTime() === time.getTime() : false, 
        'disabled': vm.isDisabledTime(time)
      }
    },
    isDisabledTime(time) {
      return false
    }
  }
}
</script>

<style lang="scss">
  .zg-time-picker {
    user-select: none;
    &__main {
      height: 240px;
      @include media(md) {
        height: auto;
      }
    }

    &__times {
      max-height: 100%;
      overflow-y: scroll;

      @include media(md) {
        overflow-y: hidden;
        overflow-x: scroll;
      }
    }

    &__time {
      @extend %cell;
      width: 100%;
      height: 40px;
      flex-shrink: 0;
      @include media(md) {
        width: 60px;
        height: 60px;
      }
    }
  }
</style>
