<template lang="pug">
  .zg-user-avatar.d-flex.flex-column.align-items-center
    .zg-user-avatar__image.mb-2
      img(:src="avatar || defaultUserAvatar")
      rounded-button#uploadUserAvatarBtn.zg-user-avatar__edit-btn(
        size="30"
        icon="pen"
        @click="onUploadFileBtnClick")
      b-tooltip(
        target="uploadUserAvatarBtn"
        ref="uploadUserAvatarBtnTooltip"
        variant="light"
        placement="right"
        triggers="hover"
        title="Загрузите фото в формате JPG, PNG")
      input(type="file" ref="imageFileInput" @change="onFileSelect").d-none
    modal(
      ref="avatarCropperModal"
      :doneBtnDiabled="!newImageFile"
      @done-btn-click="saveAvatar()")
      avatar-cropper(:img="newImageFile" ref="copper")
</template>

<script>
import defaultUserAvatar from '../assets/images/defautUserAvatar.svg'
import AvatarCropper from './AvatarCropper'
import RoundedButton from './RoundedButton'
import Modal from './Modal'
import { setTimeout } from 'timers';

export default {
  name: 'UserAvatar',
  components: {
    AvatarCropper,
    Modal,
    RoundedButton
  },
  data: () => ({
    newImageFile: null,
    defaultUserAvatar
  }),
  methods: {
    saveAvatar() {
      console.log('save avatar')

      const image = this.$refs.copper.getCroppedImage()

      this.newImageFile = null

      this.$store.dispatch('setAvatar', image)

      return true
    },
    onUploadFileBtnClick() {
      this.fileInput.click()
    },
    onFileSelect() {
      const vm = this
      const file = vm.fileInput.files[0]
      const type = file ? file.type : null

      if (file && vm.isImage(file)) {
        vm.$refs.avatarCropperModal.show()
        
        setTimeout(() => {
          vm.convertBlobToBase64(file)
        }, 3000)
      }
    },
    isImage(file) {
      return (/image\/(jpg|jpeg|png)/i).test(file.type)
    },
    convertBlobToBase64(blob) {
        const vm = this
        let reader = new FileReader();

        reader.onload = () => {
           vm.newImageFile = reader.result
        };

        reader.onerror = () => {
          console.warn('Ошибка конвертации изображения')
        };

        reader.readAsDataURL(blob);
    }
  },
  computed: {
    avatar() {
      return this.$store.state.userInfo.avatar
    },
    fileInput() {
      return this.$refs.imageFileInput
    }
  }
}
</script>

<style lang="scss">
  .zg-user-avatar {
    &__image {
      position: relative;
      width: 150px;
      height: 150px;
      @include media(md) {
        width: 100px;
        height: 100px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 50%;
      }
    }
    
    &__edit-btn {
      position: absolute;
      bottom: 0;right: 0;
    }
  }
</style>
