<template lang="pug">
  .zg-user-greeting
    .zg-session-status-bar__greeting.mb-1 {{ greeting }},
    .zg-session-status-bar__username.fw-bolder.mb-1.mb-lg-3 {{ username }}!
</template>

<script>
import { mapState } from 'vuex';
import inRange from 'lodash/inRange'

export default {
  name: 'UserGreeting',
  computed: {
    ...mapState({
      username: state => state.userInfo.username,
      sessionPaidStatus: state => state.session.sessionPaidStatus,
      hasNextSession: state => state.session.hasNextSession
    }),
    greeting() {
      const hours = new Date().getHours()
      let title = ''

      if (inRange(hours, 8, 11)) {
        title = 'Доброе утро'
      } else if (inRange(hours, 12, 17)) {
        title = 'Добрый день'
      } else if (inRange(hours, 18, 21)) {
        title = 'Добрый вечер'
      } else {
        title = 'Доброй ночи'
      }

      return title
    }
  }
}
</script>

