<template lang="pug">
  header.zg-view-header.pb-3.d-flex.align-items-center
      .zg-view-header__icon.mr-2
        .zg-icon.info
      h5.mb-0 {{ title }}
</template>

<script>
export default {
  name: 'ViewHeader',
  props: {
    title: String
  }
}
</script>

<style lang="scss">
  .zg-view-header {
    @include h-line($line-color) {
      bottom: 0;
    }

    &__icon {
      flex-shrink: 0;
      width: 21px;
      height: 21px;
    }
  }
</style>

