<template lang="pug">
  //- <div id="app">
  //-   <div id="nav">
  //-     <router-link to="/">Home</router-link> |
  //-     <router-link to="/about">About</router-link>
  //-   </div>
  //-   <router-view/>
  //- </div>
  #app.d-flex.flex-column
    app-header.py-4.mb-4.mb-xl-5
    info-bar.mb-4
    app-main
    app-footer.mt-auto
</template>

<script>
import AppHeader from "./components/AppHeader";
import AppMain from "./components/AppMain";
import InfoBar from "./components/InfoBar";
import AppFooter from "./components/AppFooter";

export default {
  components: {
    AppHeader,
    InfoBar,
    AppMain,
    AppFooter
  }
};
</script>


<style lang="scss">
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $bg-color;

  @include media(md) {
    padding-bottom: 65px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: $bg-color;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: $bg-color;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $text-muted;
  }
}
</style>
