@font-face {
  font-family: 'tt_norms-bold';
  src: url("~@/assets/fonts/TTNorms-Bold.otf") format("opentype"),
  url('~@/assets/fonts/ttnorms-bold-webfont.woff2') format('woff2'),
  url('~@/assets/fonts/ttnorms-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'tt_norms-medium';
  src: url("~@/assets/fonts/TTNorms-Medium.otf") format("opentype"),
      url('~@/assets/fonts/ttnorms-medium-webfont.woff2') format('woff2'),
      url('~@/assets/fonts/ttnorms-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'tt_norms';
  src: url("~@/assets/fonts/TTNorms-Regular.otf") format("opentype"),
      url('~@/assets/fonts/ttnorms-regular-webfont.woff2') format('woff2'),
      url('~@/assets/fonts/ttnorms-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}