$primary: #0094FF;
$secondary: #424242;
$accent: #82B1FF;
$error: #E21B1B;
$danger: #E21B1B;
$info: #2196F3;
$success: #21B01E;
$warning: #FFC107;
$text-muted: #A6A6A6;
$body-color: #222222;
$line-color: #DEDEDE;
$disabled: #8A8A8A;
$bg-color: #F5F5F5;
$icon-colors: (
  vk: #4c75a3,
  facebook: #3b5999,
  google: #dd4b39,
  telegram: #0088cc,
  messenger: #0084ff,
  whatsapp: #25d366,
  viber: #59267c
);

@mixin iconColor ($icon) {
  $color: map-get($icon-colors, $icon);

  color: $color;
}

@mixin h-line ($color) {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    @content;
    @if($color) {
      background-color:$color;
    } @else {
      background-color:$line-color;
    }
  }
}

@mixin info-btn($size) {
  position: absolute;
  width: $size;
  height: $size;
  bottom: 0;right: 0;
  border-radius: 50%;
  @content;
}

@mixin media($media) {
  @if $media == md {
    @media screen and (max-width: 992px) { @content; }
  }
}

$regular: 'tt_norms', sans-serif;
$medium: 'tt_norms-medium', sans-serif;
$bold: 'tt_norms-bold', sans-serif;


%absolute-center {
  position: absolute;
  top: 0;bottom: 0;right: 0;left: 0;
  margin: auto;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%cell {
  position: relative;
  cursor: pointer;
  border: 1px solid $primary;
  transition: 0.2s;
  border-radius: 5px;
  @extend %flex-center;

  @include media(md) {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-color: $primary;
  }

  &.active {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
  }

  &.disabled {
    color: $text-muted;
    pointer-events: none;
    border-color: $text-muted;
    opacity: 0.5;
  }

  &:hover {
    // border-color: $primary;
    &:not(.active) {
      color: $primary;
    }
  }
}

%budge {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: $primary;
  border-radius: 50%;
  .zg-icon {
    background-size: 65%;
  }
}