@import './var';
@import './typo';
@import './icons.scss';

body {
  font-family: $regular;
}

.fw-bold {
  font-family: $medium;
}

.fw-bolder {
  font-family: $bold;
}

h5, .h5 {
  font-size: 1.25rem;
  line-height: 30px;
}

a {
  text-decoration: underline;
  transition: 0.2s;
  &:hover {
    opacity: 0.9;
  }
}

small, .small {
  font-size: 0.875rem;  
}

.modal {
  &-header {
    border-bottom: none;
  }
  &-footer {
    border-top: none;
  }
}

.btn {
  &.disabled {
    background-color: $disabled;
    border-color: $disabled;
    opacity: 1;
  }
  &.btn-lg {
    line-height: 30px;
    width: 280px;
    height: 60px;
    max-width: 100%;
    @include media(md) {
      width: 100%;
    }
  }
  &.btn-primary {
    box-shadow: 0px 3px 10px rgba(0, 53, 134, 0.2);
  }

  &.btn-link {
    text-decoration: underline;
  }
}

.form-control {
  height: 50px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.vue-default-line {
  background-color: $primary;
}

.vue-square-handler {
  background-color: $primary;
}